.container-header {
    max-width: 1368px;
    margin: 0 auto;
    padding: 0 36px;
    
    .logo {
        padding-top: 4px;
        padding-bottom: 4px;
        width: 80px;
        height: 80px;
    }

    a:hover {
        color: lighten($primary, 50%);
        transition: ease-in-out .2s;
    }
}

.container {
    max-width: 1368px;
    margin: 0 auto;
    padding: 0 36px;
}

.container-n-m {
    max-width: 1296px;
    margin: 0 auto;
}

footer {

    .border-top {
        margin-top: 32px;
        padding-top: 32px;
        border-top: 1px solid $white;
    }

    a:hover {
        color: lighten($primary, 50%);
        transition: ease-in-out .2s;
    }
}

@media (max-width: $tablet) {
    
}

@media (max-width: $mobile) {

    .container-header {
        padding: 0;
        height: auto;
    }

    .container {
        padding: 0 15px
    }

}

footer {

    .border-top {
        margin-top: 24px;
        padding-top: 16px;
        border-top: 1px solid $white;
    }
}