//background-color

.bg-primary {
    background-color: $primary;
}

.bg-primary-light {
    background-color: $primary-light;
}

.bg-primary-dark {
    background-color: $primary-dark;
}

.bg-white {
    background-color: $white;
}

//color

.primary {
    color: $primary;
}

.primary-dark {
    color: $primary-dark;
}

.neutral-1 {
    color: $neutral-1;
}

.neutral-2 {
    color: $neutral-2;
}

.white {
    color: $white;
}

.black {
    color: $black;
}

.gray {
    color: #707070;
}

.gray2 {
    color: rgba(10, 10, 10, .6);
}



//font

.roboto {
    font-family: "Roboto";
}

.fz-14 {
    font-size: 14px;
}

.fz-18 {
    font-size: 18px;
}

.fz-20 {
    font-size: 20px;
}

.fz-24 {
    font-size: 24px;
}

.fz-32 {
    font-size: 32px;
}

.fz-36 {
    font-size: 36px;
}

.fz-42 {
    font-size: 42px;
}

.fz-48 {
    font-size: 48px;
}

.fz-64 {
    font-size: 64px;
}

.fw-black {
    font-weight: 900;
}

.fw-bold {
    font-weight: 700;
}

.fw-medium {
    font-weight: 500;
}

.fs-italic {
    font-style: italic;
}

.ta-l {
    text-align-last: left;
}

.ta-r {
    text-align: right;
}

.ta-c {
    text-align: center;
}

//width

.width-25 {
    width: 25%
}

.width-25-18 {
    width: calc(25% - 18px);
}

.width-33 {
    width: 33.33333333% ;
}

.width-33-16 {
    width: calc(33.33333333% - 16px);
}

.width-42 {
    width: 41.66666667%;
}

.width-50 {
    width: 50%;
}

.width-58 {
    width: 58.33333333%;
}

.width-66 {
    width:66.66666667%
}

.width-100 {
    width: 100%;
}

//height

.height-100 {
    height: 100%;
}

//padding

.p-16 {
    padding: 16px;
}

.py-8 {
    padding-top: 8px;
    padding-bottom: 8px;
}

.py-13 {
    padding-top: 13px;
    padding-bottom: 13px;
}

.py-16 {
    padding-top: 16px;
    padding-bottom: 16px;
} 

.px-24 {
    padding-left: 24px;
    padding-right: 24px;
}

.pb-8 {
    padding-bottom: 8px;
}

.pb-32 {
    padding-bottom: 32px;
}

.pt-8 {
    padding-top: 8px;
}

.pt-24 {
    padding-top: 24px;
}

.pt-48 {
    padding-top: 48px;
}

.pt-80 {
    padding-top: 80px;
}

.pb-80 {
    padding-bottom: 80px;
}

.pl-8 {
    padding-left: 8px;
}

//border

.border-left-primary {
    border-left: 8px solid $primary;
}

.border-top-gray {
    border-top: 1px solid #707070;
}

.border-1 {
    border: 1px solid #00000020;
}

//margin

.m-0-auto {
    margin: 0 auto;
}

.mb-auto {
    margin-bottom: auto;
}

.mt-4 {
    margin-top: 4px;
}

.mt-6 {
    margin-top: 6px;
}

.mt-8 {
    margin-top: 8px;
}

.mt-16 {
    margin-top: 16px;
}

.mt-24 {
    margin-top: 24px;
}

.mt-32 {
    margin-top: 32px;
}

.mt-40 {
    margin-top: 40px;
}

.mt-48 {
    margin-top: 48px;
}

.mt-64 {
    margin-top: 64px;
}

.mt-80 {
    margin-top: 80px;
}

.mt-96 {
    margin-top: 96px;
}

.mr-10 {
    margin-right: 10px;
}

.mr-16 {
    margin-right: 16px;
}

.mb-16 {
    margin-bottom: 16px;
}

.mb-24 {
    margin-bottom: 24px;
}

.mb-40 {
    margin-bottom: 40px;
}

.mb-56 {
    margin-bottom: 56px;
}

.mb-80 {
    margin-bottom: 80px;
}

.mt-124 {
    margin-top: 124px;
}

// display

.d-block {
    display: block;
}

.d-inline-flex {
    display: inline-flex;
}

.d-flex {
    display: flex;
}

.fd-c {
    flex-direction: column;
}

.jc-c {
    justify-content: center;
}

.jc-sb {
    justify-content: space-between;
}

.jc-e {
    justify-content: end;
}

.ai-s {
    align-items: start;
}

.ai-e {
    align-items: end;
}

.ai-stretch {
    align-items: stretch;
}

.ai-c {
    align-items: center;
}

.wrap {
    flex-wrap: wrap;
}

.gap-8 {
    gap: 8px;
}

.gap-16 {
    gap: 16px;
}

.gap-24 {
    gap: 24px;
}

.gap-32 {
    gap: 32px;
}

.gap-40 {
    gap: 40px;
}

.gap-48 {
    gap: 48px;
}

.gap-60 {
    gap: 60px;
}

.gap-64 {
    gap: 64px;
}

//object

.cover {
    object-fit: cover;
}

//hover

.hover-outline:hover {
    z-index:10;
    box-shadow: 0 0 0 4px $primary, 0 0 16px 8px #00000029;
    transition: ease-in-out .2s;
}

.hover-border:hover {
    z-index:10;
    border-left: 6px solid $primary;
    transition: ease-in-out .2s;
}

.hover-text-primary:hover {
        color: lighten($primary, 10%);
        transition: ease-in-out .2s;
}

@media (max-width: $tablet) {

    .md-fz-16 {
        font-size: 16px;
    }

    .md-fz-24 {
        font-size: 24px;
    }

    .md-mt-80 {
        margin-top: 80px;
    }

    .md-d-flex {
        display: flex;
    }

    .md-d-none {
        display: none;
    }

    .md-fd-c {
        flex-direction: column;
    }

    .md-gap-24{
        gap: 24px;
    }

    .md-width-50 {
        width: 50%;
    }

    .md-width-50-12 {
        width: calc(50% - 12px);

    }

    .md-width-100 {
        width: 100%;
    }

    .md-wrap {
        flex-wrap: wrap;
    }

}

@media (max-width: $mobile) {

    .sm-fz-16 {
        font-size: 16px;
    }

    .sm-fz-20 {
        font-size: 20px;
    }
    
    .sm-fz-24 {
        font-size: 24px;
    }
    
    .sm-pt-12 {
        padding-top: 12px;
    }

    .sm-pt-24 {
        padding-top: 24px;
    }

    .sm-pt-40 {
        padding-top: 40px;
    }

    .sm-pb-12 {
        padding-bottom: 12px;
    }

    .sm-pb-24 {
        padding-bottom: 24px;
    }

    .sm-pb-40 {
        padding-bottom: 40px;
    }

    .sm-border-white {
        border: 1px solid $white;
    }

    .sm-mt-0 {
        margin-top: 0;
    }

    .sm-mt-8 {
        margin-top: 8px;
    }

    .sm-mt-24 {
        margin-top: 24px;
    }

    .sm-mt-40 {
        margin-top: 40px;
    }

    .sm-mt-56 {
        margin-top: 56px;
    }

    .sm-mb-0 {
        margin-bottom: 0;
    }

    .sm-mb-24 {
        margin-bottom: 24px;
    }

    .sm-mb-64 {
        margin-bottom: 64px;
    }

    .sm-width-50 {
        width: 50%;
    }

    .sm-width-100 {
        width: 100%;
    }

    .sm-d-none {
        display: none;
    }

    .sm-d-flex {
        display: flex;
    }

    .sm-d-none {
        display: none;
    }

    .sm-gap-0 {
        gap: 0;
    }

    .sm-gap-8 {
        gap: 8px;
    }

    .sm-gap-24 {
        gap: 24px;
    }

    .sm-wrap {
        flex-wrap: wrap;
    }

    .sm-fd-c {
        flex-direction: column;
    }

    .sm-fd-rr {
        flex-direction: row-reverse;
    }

    .sm-ai-s {
        align-items: start;
    }

}