//color
$white: #fff;
$black: #000;

$neutral-1: #212529;
$neutral-2: #555555;

$primary:  #AA0601;
$primary-light: #FBF2F2;
$primary-dark: #650300;

$brown-dark: #5F3E2D;
$brown: #B75929;

//font
$font-notoSans: "Noto Sans TC";
$font-roboto: "Roboto";

//screen
$tablet: 991px;
$mobile: 767px;