.form-select {
    display: flex;
    gap: 16px;
    align-items: center;
    
    label {
        white-space: nowrap;
        font-size: 24px;
    }

    select {
        cursor: pointer;
        display: block;
        max-width: 304px;
        width: 100%;
        font-size: 18px;
        padding: 6px 32px 6px 12px;
        background-color: $white;
        background-image: url('data:image/svg+xml;utf-8,<svg xmlns="http://www.w3.org/2000/svg" height="24" viewBox="0 0 24 24" width="24"><path d="M0 0h24v24H0V0z" fill="none"/><path d="M7 10l5 5 5-5H7z"/></svg>');
        background-repeat: no-repeat;
        background-position: center right 4px; 
        color: #495057;
        border: 1px solid #CED4DA;
        appearance: none;

        &:focus, &:hover {
                border: 1px solid $primary;
                outline-style: none ;
                transition: ease-in-out .2s;
        }
    }
}